<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.medeveloper.ayaz.hostelutility">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity android:name=".MobileNumberVerification"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.medeveloper.ayaz.hostelutility"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Splash"
            android:theme="@style/Splash">

        </activity>
        <activity
            android:name=".student.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".officials.OfficialsHome"
            android:label="@string/title_activity_officials_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginAcitivity"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.StudentForm"
            android:label="Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officials.OfficialsForm"
            android:label="Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".student.PhotoViewer"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".Noticaiton" />

        <service
            android:name=".MyNotificationService"
            android:exported="false"
            android:screenOrientation="portrait" />
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":romote">
            <intent-filter>
                <action android:name="com.medeveloper.ayaz.hostelutility.MyService" />
            </intent-filter>
        </service>

        <receiver android:name=".StartFirebaseAtBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Registration.Registration" />
        <activity android:name="com.code_base_update.ui.BaseActivity"/>
        <activity android:name="com.code_base_update.ui.ComplaintActivity"
                  android:windowSoftInputMode="adjustNothing">

        </activity>
        <activity android:name="com.code_base_update.ui.NewLogin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.code_base_update.ui.ComplaintComplaintListActivity" />
        <activity android:name="com.code_base_update.ui.RegisterApplicationActivity" />
        <activity android:name="com.code_base_update.ui.Dashboard" >

        </activity>
        <activity android:name="com.code_base_update.ui.ApplicationListActivity" />
        <activity android:name=".AboutSection" />
        <activity android:name="com.code_base_update.ui.HostelNoticeActivity" />
        <activity android:name=".officials.GeneralNotice" />
        <activity android:name="com.code_base_update.ui.AboutSection" />
        <activity android:name="com.code_base_update.ui.GeneralNotice" />
    </application>

</manifest>